<% content_for :title, "Something Went Wrong" %>

<div class="container text-center py-5">
  <h1 class="display-1">500</h1>
  <div class="text-center my-5">
  <%= image_tag "spongebob-thinking.gif",
        alt: "Page not found",
        class: "img-fluid",
        width: 500 %>
  </div>
  <p class="lead">Sorry — something went wrong on our end.</p>
  <%= link_to "Try again later", root_path, class: "btn btn-primary" %>
</div>