<% content_for :title, "Page Not Found" %>

<div class="container text-center py-5">
  <h1 class="display-1">404</h1>
  <div class="text-center my-5">
  <%= image_tag "tom-and-jerry-bath.gif",
        alt: "Page not found",
        class: "img-fluid",
        width: 500 %>
  </div>
  <p class="lead">Hmm — nothing to see here...</p>
  <%= link_to "Go back home", root_path, class: "btn btn-primary" %>
</div>
